/* @todo map all css var brightness etc */

.image-component {
    margin: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    container-type: inline-size;
}

.image-component figcaption a {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 2.5rem;
}

@container (max-width: 400px) {
    .image-component figcaption a {
        font-size: 1.5em;
    }
}

.common-image-component {
    width: 100%;
    object-fit: cover;
    object-position: #{var(--focal-point-x)} #{var(--focal-point-y)};
}

.image-on {
    position: absolute;
    width: auto;
    z-index: 1;
}

.image-on.halign-center,
.image-on.halign-right {
    width: 100%;
    display: flex;
}

.image-on.halign-center {
    justify-content: center;
}

.image-on.halign-right {
    justify-content: end;
}

.image-on.valign-top {
    top: 2vw;
}

.image-on.valign-middle {
    top: calc(50% - 1em);
}

.image-on.valign-bottom {
    bottom: 2vw;
}

span.image-below {
    color: var(--skin-main-text-color-1);
    padding-top: 0.75em;
    text-align: center;
}

.drop-shadow-contrast {
    text-shadow: 1px 1px 4px #000;
}

.bg-primary {

    h1,
    h2,
    h3,
    h4 {
        background-color: var(--primary-color);
    }
}

.bg-bgcolor {

    h1,
    h2,
    h3,
    h4 {
        background-color: var(--body-background-color);
    }
}

.bg-interation {

    h1,
    h2,
    h3,
    h4 {
        background-color: #{var(--interaction-color)};
    }
}

.bg-menucolor {

    h1,
    h2,
    h3,
    h4 {
        background-color: var(--menu-background);
    }
}

.fg-primary a {
    color: var(--skin-primary-color-1);
}

.fg-bgcolor a {
    color: var(--skin-background-color-1);
}

.fg-interation a {
    color: var(--skin-price-1);
}

.fg-menucolor a {
    color: var(--menu-background);
}

.gradient-contrast::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(180deg, transparent 70%, rgba(0, 0, 0, .6));
}