.progress {
    background-image: linear-gradient(45deg, rgba(215, 57, 51, 1) 0%, rgba(232, 153, 63, 1) 14%, rgba(248, 236, 85, 1) 28%, rgba(139, 192, 74, 1) 42%, rgba(0, 188, 212, 1) 56%, rgba(33, 150, 243, 1) 71%, rgba(238, 130, 238, 1) 86%, rgba(215, 57, 51, 1) 100%);;
    background-size: 0 5px;
    background-position: 0% 0%;
    animation: animateBGPosition 1.5s linear infinite;
    display: none;
    position:fixed;
    top:0;
    width:100%;
}
.htmx-request.progress {
    display: block;
    opacity: 1;
}

.htmx-request .progress {
    display: block;
    opacity: 1;
}

@keyframes animateBGPosition {
    0% {
        background-size: 0 5px;
        opacity: 0.3;
    }
    50% {
        background-size: 50% 5px;
        opacity: 1;
    }
    100% {
        background-size: 100% 5px;
        opacity: 0.0;
    }
}

