/* @todo map all skin colors - maybe overload from pico */
body {
    font-family: var(--skin-body-font), Sans-Serif;
    color: var(--skin-main-text-color-1);
    font-display: optional;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.strike {
    text-decoration: line-through;
    opacity: 0.5;
}

.selected {
    font-weight: bold;
}

#search-more {
    display: flex;
    justify-content: center;
}